.container1{
    height:70px;
    border: 2px solid;
    display: flex;
   
    
    align-items: center;
    justify-content: space-between;
    background-color: black;

}
.logo,.address,.search,.lang,.account,.order,.cart{
   
    margin-right: 40px;
    align-items: center;
  
    color:aliceblue
  
}
.logo img{
     height: 80px;
     margin-left: -10px;
}
.search{
   
    width: 1000px;
    height: 40px;
    background-color: aliceblue;
    border-radius: 10px;
    border: 5px white solid;
    color: black;
}
.container2
{
    border: 2px solid black;
    height: 80vh;
    background-color: rgb(167, 205, 205);
    display: grid;
    grid-template-rows: auto auto;
    gap: 0;
    
}
.child1
{
    border: 2px solid black;
    height: 50px;
    background-color: rgb(0, 0, 0);

}
.child2
{
    border: 2px solid black;
    height: 200px;
    background-color: rgb(17, 74, 17);

}

.container2 img{
    height: 650px;
    width: 1900px
}


