.container1{
    height:70px;
    border: 2px solid;
    display: flex;
   
    
    align-items: center;
    justify-content: space-between;
    background-color: black;

}
.logo,.address,.search,.lang,.account,.order,.cart{
   
    margin-right: 40px;
    align-items: center;
  
    color:aliceblue
  

}
.logo img{
     height: 80px;
     margin-left: -10px;
}
.search{
   
    width: 1000px;
    height: 40px;
    background-color: aliceblue;
    border-radius: 10px;
    border: 5px white solid;
    color: black;
}

